body{
    background-color: #ffffff;
    font-size: 200%;
    background-repeat:no-repeat;
}
.keyword{
    font-size: 120%;
    color: red;
}
li{
    font-size: 80%;
}
abbr{
    color: gray;
    text-decoration: none;
}
.title{
    color:coral;
    text-shadow: 5px 5px 10px black;
}
.header{
    margin:5px;
    padding: 10px;
    float: left;
}
.lastheader{
    padding: 10px;
    margin: 5px;
}
a{
    color: orange;
    text-shadow: 4px 4px 4px coral;
    text-decoration: none;
}
p{
    font-size: 100%;
}
pre{
    font-size: 100%;
}
header{
    height: 70px;
    width: 100%;
    padding: 10px;
    margin:0;
    background-color: rgb(0, 145, 234);
    position: sticky;
    top: 0;
}
.article{
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
}