body{
    background-color: #ffffff;
    font-size: 200%;
    background-repeat:no-repeat;
}
.title{
    color:coral;
    text-shadow: 5px 5px 10px black;
}
.header{
    margin: 10px;
    padding: 10px;
    float: left;
}
.lastheader{
    padding: 10px;
    margin: 10px;
}
a{
    color: orange;
    text-shadow: 4px 4px 4px coral;
}
p{
    font-size: 200%;
}
pre{
    font-size: 200%;
}
header{
    padding: 10px;
    margin: 5px;
    background-color: rgb(0, 145, 234);
}